---
import dayjs from "dayjs";
import { getCollection } from "astro:content";
import TileLarge from "../../components/blog/tile-large.astro";
import MainLayout from "../../layouts/main.astro";
const blogArticles = await getCollection("articles");
---

<MainLayout title="Blog" description="Pallad">
    <div class="container flex flex-col lg:flex-row gap-28 py-48">
        <div class="flex flex-[2] flex-col gap-16">
            <h1 class="text-[64px] lg:text-[96px] leading-[6rem]">
                Blog<br /><span class="text-tertiary">articles</span>
            </h1>
            <div class="flex flex-col gap-16">
                {
                    blogArticles.map((article) => (
                        <TileLarge
                            title={article.data.title}
                            date={dayjs(article.data.publishedAt).format(
                                "DD MMMM YYYY",
                            )}
                            coverFileName={article.data.coverFileName}
                            slug={article.slug}
                        />
                    ))
                }
            </div>
        </div>
        <div class="flex-1"></div>
    </div>
</MainLayout>
