<section class="g-fade container flex flex-col gap-8 py-32 pt-0">
    <div class="flex flex-col lg:flex-row justify-between">
        <h2 class="text-5xl lg:text-8xl font-[500] max-w-[600px]">
            Our latest <span class="text-accent">articles</span>
        </h2>
        <a
            href="/blog"
            class="flex gap-2 self-end text-xl items-center font-[500]"
            ><span>See all</span><img src="/arrow-small.svg" /></a
        >
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div class="card flex-col lg:flex-row card-side bg-secondary">
            <figure class="w-full aspect-[4/5]">
                <img
                    src="/post-1.jpeg"
                    alt="Album"
                    class="object-fit w-full h-full"
                />
            </figure>
            <div class="card-body">
                <p class="text-primary">May 12</p>
                <h2 class="card-title text-3xl font-[500] text-mint">
                    The most insightful stories about zkKYC
                </h2>
                <p>
                    Confused by zero-knowledge proofs and zkKYC? Worried about
                    privacy in blockchain? Dive into this...
                </p>
            </div>
        </div>
        <div class="card flex-col lg:flex-row card-side bg-secondary">
            <figure class="w-full aspect-[4/5]">
                <img
                    src="/post-2.jpeg"
                    alt="Album"
                    class="object-fit w-full h-full"
                />
            </figure>
            <div class="card-body">
                <p class="text-primary">May 12</p>
                <h2 class="card-title text-3xl font-[500] text-mint">
                    Enhancing Identity Management with...
                </h2>
                <p>
                    Biometric authentication, particularly fingerprint
                    recognition, has emerged as a promising alternative due to
                    its ease of...
                </p>
            </div>
        </div>
    </div>
</section>
