<section
    class="container flex justify-center items-center flex-col gap-8 py-32"
>
    <h2 class="text-6xl text-center font-[500]">
        Welcome to the future of <span class="text-mint">secure</span>,
        <span class="text-peach">private</span> finance.
    </h2>
    <a
        href="https://get.pallad.co/extension"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-primary btn-lg text-lg">Add to Chrome</a
    >
</section>
