<section
    class="container flex justify-center items-center flex-col gap-8 py-32"
>
    <h2 class="text-6xl text-center font-[500]">
        Welcome to the future of <span class="text-mint">secure</span>,
        <span class="text-peach">private</span> finance.
    </h2>
    <div class="indicator">
        <span class="indicator-item badge badge-accent font-[500]">soon</span>
        <a class="btn btn-primary btn-lg text-sm">Add to Chrome</a>
    </div>
</section>
