<section class="fade-out flex flex-col gap-6 overflow-hidden">
    <div class="side-scroll flex gap-6" data-startx={20} data-endx={-60}>
        <div
            class="bg-neutral px-16 py-12 text-3xl font-[500] rounded-full text-peach text-nowrap"
        >
            Hardware wallet
        </div>
        <div
            class="bg-neutral px-16 py-12 text-3xl font-[500] rounded-full text-primary text-nowrap"
        >
            Portfolio
        </div>
        <div
            class="bg-neutral px-16 py-12 text-3xl font-[500] rounded-full text-mint text-nowrap"
        >
            Staking
        </div>
        <div
            class="bg-neutral px-16 py-12 text-3xl font-[500] rounded-full text-accent text-nowrap"
        >
            Wallet management
        </div>
    </div>
    <div class="side-scroll flex gap-6" data-startx={0} data-endx={80}>
        <div
            class="bg-neutral px-16 py-12 text-3xl font-[500] rounded-full text-mint text-nowrap"
        >
            Digital assets
        </div>
        <div
            class="bg-neutral px-16 py-12 text-3xl font-[500] rounded-full text-peach text-nowrap"
        >
            Address book
        </div>
        <div
            class="bg-neutral px-16 py-12 text-3xl font-[500] rounded-full text-accent text-nowrap"
        >
            Identity
        </div>
        <div
            class="bg-neutral px-16 py-12 text-3xl font-[500] rounded-full text-primary text-nowrap"
        >
            zkApps Connect
        </div>
    </div>
    <div class="side-scroll flex gap-6" data-startx={20} data-endx={-60}>
        <div
            class="flex items-center gap-8 bg-neutral px-16 py-8 text-3xl font-[500] rounded-full text-primary text-nowrap"
        >
            <span>Currently supporting</span>
            <div class="flex gap-4 items-center">
                <div class="bg-secondary p-3 rounded-full">
                    <img src="/mina.svg" width={40} height={40} />
                </div>
                <div class="bg-secondary p-3 rounded-full">
                    <img src="/zeko.svg" width={40} height={40} />
                </div>
            </div>
        </div>
        <div
            class="bg-neutral px-16 py-12 text-3xl font-[500] rounded-full text-accent text-nowrap"
        >
            And more to come
        </div>
        <div
            class="bg-neutral px-16 py-12 text-3xl font-[500] rounded-full text-mint text-nowrap"
        >
            Theme customisation
        </div>
    </div>
</section>
