<section class="bg-gradient-to-b from-neutral to-base-100 fade-out pt-64 pb-32">
    <div class="container flex flex-col justify-between items-center gap-12">
        <img src="/pallad.svg" alt="Main logo" />
        <h1 class="text-5xl font-[500]">
            <span class="text-mint">A new era</span> for Web3 wallets
        </h1>
        <div class="flex gap-4">
            <a href="#" class="btn btn-lg text-sm">Mint a theme</a>
            <div class="indicator">
                <span class="indicator-item badge badge-accent font-[500]"
                    >soon</span
                >
                <a href="#" class="btn btn-lg btn-primary text-sm"
                    >Add to Chrome</a
                >
            </div>
        </div>
    </div>
</section>
