<section
    class="g-fade container flex flex-col lg:flex-row justify-between py-32"
>
    <div class="flex flex-col max-w-[400px] gap-8">
        <h2 class="text-5xl lg:text-8xl font-[500]">
            Privacy <span class="text-accent">redefined</span>
        </h2>
        <img src="/arrow-right.svg" width={160} height={140} />
    </div>
    <p
        class="text-2xl max-w-[480px] text-left lg:text-right leading-8 font-[500] mt-4"
    >
        Transform how you interact with the digital world. We use <span
            class="text-mint">zero-knowledge proofs</span
        > to shield your transactions, ensuring your data remains invisible—<br
        /><span class="text-accent">even to us</span>.
    </p>
</section>
