<section class="fade-out py-12 overflow-hidden">
    <div class="side-scroll flex gap-24" data-startx={30} data-endx={-300}>
        <img
            src="/screens/1.svg"
            class="rounded-3xl rotate-[330deg] h-[560px]"
        />
        <img
            src="/screens/2.svg"
            class="rounded-3xl rotate-[330deg] h-[560px]"
        />
        <img
            src="/screens/3.svg"
            class="rounded-3xl rotate-[330deg] h-[560px]"
        />
        <img
            src="/screens/4.svg"
            class="rounded-3xl rotate-[330deg] h-[560px]"
        />
        <img
            src="/screens/5.svg"
            class="rounded-3xl rotate-[330deg] h-[560px]"
        />
        <img
            src="/screens/6.svg"
            class="rounded-3xl rotate-[330deg] h-[560px]"
        />
        <img
            src="/screens/7.svg"
            class="rounded-3xl rotate-[330deg] h-[560px]"
        />
        <img
            src="/screens/8.svg"
            class="rounded-3xl rotate-[330deg] h-[560px]"
        />
    </div>
</section>
