<footer class="flex flex-col">
    <section class="py-32 bg-tertiary">
        <div
            class="container flex flex-col lg:flex-row gap-8 justify-between items-center"
        >
            <div class="flex flex-col gap-3">
                <h2 class="text-5xl font-[500] text-secondary">
                    Stay up to date!
                </h2>
                <p class="text-lg text-secondary font-[500]">
                    A couple of emails per month, no ads!
                </p>
            </div>
            <form
                method="post"
                action="/api/subscribe.json"
                class="flex flex-col lg:flex-row gap-6"
            >
                <input
                    type="email"
                    name="email"
                    placeholder="Enter your email"
                    class="input input-lg bg-white text-neutral"
                    required
                />
                <button type="submit" class="btn btn-lg">Subscribe</button>
            </form>
        </div>
    </section>
    <section class="py-12 bg-neutral">
        <div
            class="container font-[500] flex flex-col gap-8 lg:flex-row justify-between items-center"
        >
            <div class="flex flex-col gap-4">
                <p class="text-[#7D7A9C]">
                    Copyright © {new Date().getFullYear()} Pallad | All Rights Reserved
                </p>
                <div class="flex gap-8">
                    <a href="/privacy-policy">Privacy Policy</a>
                    <a href="/privacy-policy">Terms of Service</a>
                    <a
                        href="https://get.pallad.co/status"
                        target="_blank"
                        rel="noopener noreferrer">Status</a
                    >
                </div>
            </div>
            <div class="flex flex-col lg:flex-row gap-12">
                <div class="flex flex-col lg:flex-row gap-6">
                    <a href="/blog" class="btn btn-ghost">Blog</a>
                    <a href="/faq" class="btn btn-ghost">FAQ</a>
                    <a href="/support" class="btn btn-ghost">Support</a>
                    <a href="/docs" target="_blank" class="btn btn-ghost"
                        >Docs</a
                    >
                </div>
                <div class="flex gap-4">
                    <a
                        href="https://get.pallad.co/github"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="btn btn-square bg-bg-light rounded-lg"
                    >
                        <img src="/gh.svg" />
                    </a>
                    <a
                        href="https://get.pallad.co/x"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="btn btn-square bg-bg-light rounded-lg"
                    >
                        <img src="/x.svg" />
                    </a>
                    <a
                        href="https://get.pallad.co/discord"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="btn btn-square bg-bg-light rounded-lg"
                    >
                        <img src="/discord.svg" />
                    </a>
                </div>
            </div>
        </div>
    </section>
</footer>
