<div class="flex gap-4 justify-center">
    <figure class="flex-1 w-full max-h-[105px] rounded-md">
        <img
            src="/post-1.jpeg"
            alt="Album"
            class="object-fit w-full h-full rounded-md"
        />
    </figure>
    <h3 class="flex-1">
        However, I travelled along the shore of the sea towards the…
    </h3>
</div>
